*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(86, 16, 16);
}
.contour{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contour-form{
  border-radius: 15px;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 3%;
  background-color: rgb(38, 38, 38);
  color: white;
}

.conteneur{
  padding: 1%;
}
.header{
  background-color: rgb(91, 91, 91);
  height: 10vh;
}
.titre{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.fond-Liste{
  padding-bottom: 0;
}
.Home{
  height: 84vh;
}